td {
  /* width: 100px;
  height: 50px; */
  font-size: 18px;
  color: lightblue;
  background-color: lightgray;
  padding-left: 10px;
  text-align: center;
}

div {
  background-color: lightgray;
}

#first {
  width: 300px;
}