#nav {
    grid-area: nav;
    background-color: #448FCA;
    padding-top: 20px;
}

section {
    border: rgb(15, 54, 70) solid;
    border-radius: 0 20px 20px 0;
    width: 1fr;
    height: 50px;
    text-align: center;
}

a {
    display: block;
    block-size: 100%;
    text-decoration: none;
}

.active {
   color: snow;
}